.outbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.out_con{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
}

.inner_con {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.weather_con {
    background-color: blue;
    width: 500px;
    height: 500px;
}

.wear_con {
    width: 500px;
    height: 500px;
    background-color: red;

}

.Time,
.CurrIcon,
.CurrTemp,
.City{
    font-size:50px;
    font-weight: bold;
    color: black;
}

.input_box{
    display: flex;
    flex-direction: row;
    position:absolute;
    top:225px;
    left: 0px;
}

.card1,
.card2 {
    width: 500px;
    height: 500px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card2_front,
.card1_back,
.card2_back {
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card1_front{
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card1_front,
.card2_front {
    border: 1px solid black;
}


.card1_back,
.card2_back {
    border: 1px solid black;
    transform: rotateY(180deg);
}